<h1>Welcome to...</h1>
<h3>Count...</h3>
<h2>My...</h2>
<h1>Words! Ah, ah ah.</h1>

<form class="form-control" name="search_form" action="/count">
  <label for="search_term">Enter the word to count!</label>
  <input type="text" name="search_term" class="form-control">e.g. 'dog', 'cat', 'marmoset'</input>
<label for="search_text">Enter the text to search through here!</label>
  <input type="text" name="search_text" class="form-control">e.g. 'While the dog and cat were fighting, the marmoset snuck in and took their treats. Silly dog and cat, fighting is never the answer!'</input>
  <br>
  <button type="submit" class="btn btn-success" name="search_form_submit">Count 'em up!</button>
</form>
