<h1>Welcome...</h1>
<h3>I am...</h3>
<h2>the Word...</h2>
<h1>Count! Ah, ah ah.</h1>
<img src="<%= url('the-count-pi.jpg') %>" alt="The Count, a vampire from a street that vaguely rhymes with wasabi">

<form class="form-control" name="search_form" action="/count">
  <label for="search_term">Enter the word to count! (e.g. 'dog', 'cat', 'marmoset')</label>
  <input type="text" name="search_term" class="form-control"></input>
  <label for="search_text">Enter the text to search through here! (e.g. 'While the dog and cat were fighting, the marmoset snuck in and took their treats. Silly dog and cat, fighting is never the answer!')</label>
  <input type="text" name="search_text" id="search_text" class="form-control"></input>
  <br>
  <button type="submit" class="btn btn-success" name="search_form_submit">Count 'em up!</button>
</form>
