<h3>Ah ha ha ha! Thank you for coming to me for help, I just looooove to count!</h3>
<img src="<%= url('/public/images/count2.jpg') %>">
<h3>Your text:</h3>
<h4><%= @text %></h4>

<h3>Your word: <%= @term %></h3>
<h2>Total times your word was in the text: <%= @count %>, ah, ah, ah!</h2>

<a href="/"<button type="button" name="restart">Count once... again!</button></a>
